.full-container {
  padding-top: 3%;
}

.bg-charts {
  background-image: url('../../assets/new7.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
}

.table-container {
  padding: 4% 10% 0% 10%;
}

.heading-charts-main {
  display: block;
  font-size: 100px;
  text-align:center;
  padding-bottom: 2%;
  color: rgb(70, 68, 68);
  font-family: 'Covered By Your Grace';
}

.class-ranking {
  font-size: 40px;
  margin: 0 0 0 0;  //this makes the row narrower
}

.rank {
  width: 10%;
  text-align: center;
  padding-left: 4%;
}

.numfav {
    position: relative;
    bottom: 25px;
    left: 57%;
    width: 30px;
    height: 30px;
    color: white;
    margin: 0 0 0 0;  //affects height of row
}

i.material-icons {
  color: rgb(70, 68, 68) !important;
}

i.fav-icon {
  position: relative;
  left: 50%;
  top: 15px;
  font-size: 45px;
}

.search-bar {
  color:rgb(70, 68, 68);
  height: 20px;
  margin: 0;
  padding-right: 30px;
  width: 100%;
}

.search-bar::placeholder {
  color:rgb(70, 68, 68);
}

.inputSearch {
  position: relative;
}

input:focus {
  border-bottom: 1px rgb(70, 68, 68) !important;
  box-shadow: 0 1px 0 0 rgb(70, 68, 68) !important;
}

.borderless-btn {
  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
}

.borderless-btn:focus {
  background: none !important;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
}

.coloredBtn {
  background-color: rgba(100, 100, 100, .2);
  border-radius: 5%;
  padding: .5%;
}

.exportBtn {
  position: absolute;
  top: 80px;
  left: 25px;
}

.clr-btn {
  position: absolute;
  bottom: 15px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.search-btn {
  position: absolute;
  bottom: 15px;
  right: -35px;
}

#dropdown {
  overflow: hidden;

  .material-icons {
      vertical-align: middle;
  }

  #dropdown-list {
      display: none;
      overflow: hidden;
      position: absolute;
      background-color: rgba(100, 100, 100, 1);
      min-width: 1em;
      z-index: 1;
      border-radius: 3%;

      .dropdown-item {
          float: none;
          color: black;
          padding: .25em .35em;
          display: block;
          text-align: left;
          font-family: inherit;
          margin: 0;
          font-size: 20px;
          animation: fade .3s !important;
      }
  }

  &:hover #dropdown-list {
      display: block;
      animation: fade .3s !important;
  }
}