.heading-charts-main {
    padding-top: 5.5%;
    display: block;
    font-size: 3.75vw;
    text-align:center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    color: rgb(70, 68, 68);
    font-family: 'Covered By Your Grace';
  }

.search-page {
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    height: 100%;
    width: 100%;

    
    .search-area {
        padding-top: 2%;
    }
}

.search-icon {
    cursor: pointer;
}

.row {
    margin-bottom: 0;
}

 /* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
}

.collapsible {
    margin-top: 0%;

    border: none;
    border-bottom: none;
    box-shadow: none;

    li {
        &.active {
            .collapsible-header {
                .material-icons {
                    transform: rotate(-180deg); // SPIN ANIMATION
                }
            }
        }
    
        .material-icons {
            font-size: 1.2rem;
            margin-right: 0; // REMOVE EXTRA MARGIN
			transition: transform 0.2s ease; // OPTIONAL ANIMATION SPEED
        }

        height: 1% !important;

        div {
            font-size: .8rem;
            border: none;
            height: 1% !important;
        }
        
        .collapsible-body {
            height: 0;
            padding-top: 5rem;

            div {
                transform: translate(0, -6rem)
            }
        }
    }
}